@model Collection

@{
}

<table>
        <thead>
                <td>Title</td>
                <td>Year</td>
                <td>Director/td>
                <td>Rating</td>
                <td>Edited</td>
                <td>Lent To</td>
                <td>Copied to Plex</td>
                <td>Notes</td>
        </thead>
</table>