@{
    ViewData["Title"] = "Get to Know Joe Hilton";
}

<div class="text-center">
    <h1>Get to Know Joe Hilton</h1>
</div>

<br />

<div>
    <h3> Find his Performances Here</h3>
    <a href='https://www.qwcomedy.com/'> Quick Wits Comedy </a>
</div>

<br />

<div>
    <h3> Listen to his Podcast to find the BEST Movie and Pop Culture discussions </h3>
    <a href='https://baconsale.com/'> Baconsale </a>
</div>

<br />

<div>
    <a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" alt="Baconsale crew photo" height="500">
    </a>
</div>