@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
    <h2>It begins here...</h2>
</div>

<br />

<div class="text-center">
    <img src="img/JoelHiltonHeadshot.jpg" alt="Joe Hilton Headshot">
</div>